:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: 0.3s ease;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    letter-spacing: -1px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

/* Start sidebar  */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar>h3 {
    margin-bottom: 50px;
}

.sidebar>h3:before,
.sidebar>h3::after {
    content: '';
    position: absolute;
    background-color: black;
    transform: translateX(-50%);
    left: 50%;

}

.sidebar>h3:before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}

.sidebar>h3::after {
    width: 12px;
    height: 12px;
    bottom: -29px;
    border-radius: 50%;
    border: 4px solid white;
}

.sidebar ul li:hover i {
    color: var(--blue-color);
}

@media (max-width: 767px){
    .sidebar ul {
        position: fixed;
    }
}

.sidebar ul a {
    margin-bottom: 5px;
    transition: var(--main-transition);
    border-radius: 6px;
}

.sidebar ul li a:hover {
    transform: translateX(10px);
}

.sidebar ul a.active,
.sidebar ul li a:hover {
    background-color: #f6f6f6;
}

.sidebar ul a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }

    .sidebar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .sidebar>h3::before,
    .sidebar>h3::after {
        display: none;
    }

    .sidebar span {
        display: none;
    }
}

/* End sidebar  */
/* Start Content Head  */
.content {
    overflow: hidden;
}

.head .search::before {
    content: '\f002';
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}

.head .search input:focus {
    width: 200px;
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .icons .notification::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    right: -5px;
    background-color: var(--red-color);
    border-radius: 50%;
}

.head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.page h1 {
    margin: 20px 20px 40px;
    letter-spacing: -1px;
}

.page h1::before,
.page h1::after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}

.page h1::before {
    background-color: white;
    width: 120px;
}

.page h1::after {
    background-color: black;
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

/* End Content Head  */

/* Start wellcome widget */
.wellcome {
    overflow: hidden;
}

.wellcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}

.wellcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.wellcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.wellcome .body>div {
    flex: 1;
}

.wellcome .visit {
    margin: 0 15px 15px auto;
    transition: var(--main-transition);
}

.wellcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .wellcome .intro {
        padding-bottom: 30px;
    }

    .wellcome .avatar {
        margin-left: 0;
    }

    .wellcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* End wellcome widget */
/* Start Quick Draft Widget */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}

.quick-draft .save {
    margin-left: auto;
    transition: 0.3s;
    cursor: pointer;
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}

/* End Quick Draft Widget */
/* Start Targets Widget */

.Targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.Targets .details {
    flex: 1;
}

.Targets .details .progress {
    height: 4px;
}

.Targets .details .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.Targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}

.Targets .details .progress>span span::after {
    content: '';
    position: absolute;
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.Targets .details .progress .blue span::after {
    border-top-color: var(--blue-color);
}

.Targets .details .progress .orange span::after {
    border-top-color: var(--orange-color);
}

.Targets .details .progress .green span::after {
    border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

/* End Targets Widget */
/* Start Tickets Widget */
.tickets .box {
    /* flex: 45%; */
    width: 45%;
    border: 1px solid #ccc;
}

@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}

/* End Tickets Widget */


/* Start letst-news  */
.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {

    .latest-news .news-row {
        display: block;
    }

    .latest-news .news-row .lable {
        margin: 10px auto;
        width: fit-content;
    }
}

.latest-news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}

.latest-news .news-row .info {
    flex-grow: 1;
}

.latest-news .news-row .info h3 {
    margin: 0 0 5px;
    font-size: 16px;
}

.latest-news .news-row .lable {
    padding: 4px 10px;
}

/* End letst-news  */
/* Start Tasks */
.tasks .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tasks .info {
    flex-grow: 1;
}

.tasks .done {
    opacity: 0.3;
}

.tasks .done {
    opacity: 0.3;
}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

.tasks .done .delete {
    cursor: text;
}

.tasks .delete {
    cursor: pointer;
    transition: var(--main-transition);
}

.tasks .delete:hover:not(.done>.delete) {
    color: var(--red-color);
}

/* End Tasks */

/* Top Search Widget dosn't need A CSS Style "All Done " */

/* Start Latest Uploads */
.latest-upload li img {
    width: 40px;
    height: 40px;
}

.latest-upload li .info {
    flex-grow: 1;
}

/* End Latest Uploads */
/* Start Last Project Progess Widget */
.last-project ul::before {
    content: '';
    position: absolute;
    width: 2px;
    left: 11px;
    height: 100%;
    background-color: var(--blue-color);
}

.last-project ul li:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.last-project ul li.done::before {
    background-color: var(--blue-color);
}

.last-project ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}

.last-project img {
    position: absolute;
    width: 140px;
    right: 0;
    bottom: 0;
    opacity: 0.3;
}

/* End Last Project Progess Widget */

/* Start Reminder */
.reminder ul li .blue {
    border-left: 2px solid var(--blue-color);
}

.reminder ul li .green {
    border-left: 2px solid var(--green-color);
}

.reminder ul li .orange {
    border-left: 2px solid var(--orange-color);
}

.reminder ul li .red {
    border-left: 2px solid var(--red-color);
}

.reminder ul li .key {
    width: 15px;
    height: 15px;
}

/* End Reminder */

/* Start Latest Posts */
.letst-post img {
    width: 48px;
    height: 48px;
}

.letst-post .post-content {
    min-height: 140px;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

}

/* End Latest Posts */
/* Start social media  */
.social-media .box {
    padding-left: 70px;
}

.social-media .box i {
    display: flex !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    transition: var(--main-transition);
}

.social-media .box i:hover {
    transform: rotate(5deg);
}

.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}

.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}

.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;
}

.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}

.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}

.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}

.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}

/* End social media  */
/* Start Animation */
@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }

    to {
        background-color: white;
    }
}

/* End Animation */
/* Start Projects Table  */

.projects .responsive-table {
    overflow-x: auto;
}

.projects table {
    min-width: 1000px;
    border-spacing: 0;
}

.projects thead td {
    background-color: #eee;
    font-weight: bold;
}

.projects tbody td {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: var(--main-transition);
}

.projects tbody tr:hover td {
    background-color: #faf7f7;
}

.projects table td {
    padding: 15px;
}

.projects table tbody tr td:last-child {
    border-right: 1px solid #eee;
}

.projects .responsive-table img {
    width: 32px;
    height: 32px;
    padding: 2px;
    background-color: white;
}

.projects .responsive-table img:not(:first-child) {
    margin-left: -20px;
}

.responsive-table .lable {
    width: fit-content;
    font-size: 13px;
}

/* End Projects Table  */

/* Start Settings Page */

.setting-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .setting-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.setting-page>div:hover {
    box-shadow: 0 3px 10px #ccc;
}

.setting-page>div {
    transition: var(--main-transition);

}

/* Start Toggle-checkbox */
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    position: relative;
    width: 78px;
    height: 32px;
    background-color: #ccc;
    border-radius: 16px;
    cursor: pointer;
    transition: var(--main-transition);
}

.toggle-switch::before {
    position: absolute;
    content: '\f00d';
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #aaa;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    left: 50px;
    content: '\f00c';
    background-color: white;
}

/* End Toggle-checkbox */

/* Start Control Pox */
.control-box .close-massage {
    resize: none;
    min-height: 150px;
}

/* End Control Pox */

/* Start General-info Pox */
.general-info .email {
    background-color: #f0f4f8;
    cursor: no-drop;
    width: calc(100% - 80px);
}

/* End General-info Pox */

/*  Security Info box has inline style*/
/* Start Social Info */
.social-info i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: var(--main-transition);
    display: flex !important;
}

.social-info .social-box input {
    height: 40px;
    background-color: #f6f6f6;
    padding-left: 10px;
    border-radius: 0 6px 6px 0;
    border: 1px solid #ddd;
}


.social-info .social-box:focus-within i {
    color: black;
}

/* End Social Info */

/* Start widgets-control */
.widgets-control {
    /* overflow: none; */
}

.widgets-control .check-row .check-defult {
    -webkit-appearance: none;
    appearance: none;
}

.widgets-control .check-row input[type="checkbox"]:checked+label::after {
    transform: scale(1);
    border-radius: 3px;
}

.widgets-control .check-row label {
    cursor: pointer;
    padding-left: 30px;
    position: relative;

}

.widgets-control .check-row label::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 50%;
    border: 2px solid var(--grey-color);
    margin-top: -9px;
    border-radius: 3px;
}

.widgets-control .check-row label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}

.widgets-control .check-row label:hover::before {
    border-color: var(--blue-alt-color);
}

/* End widgets-control */

/* Start Backup Manager */
.widgets-control input {
    -webkit-appearance: none;
    appearance: none;
}

.widgets-control .manager-row label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.widgets-control .manager-row label::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--grey-color);
    left: 0;
    transition: var(--main-transition);

}

.widgets-control .manager-row label::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--blue-color);
    left: 4px;
    top: 4px;
    transform: scale(0);
    transition: var(--main-transition);
}

.widgets-control .manager-row input[type="radio"]:checked+label::before {
    border-color: var(--blue-color);
}

.widgets-control .manager-row input[type="radio"]:checked+label::after {
    transform: scale(1);
}

.widgets-control .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.widgets-control .server {
    border: 2px solid #eee;
    border-radius: 6px;
    transition: var(--main-transition);
}

.widgets-control .server label {
    cursor: pointer;
}

.widgets-control .servers input[type="radio"]:checked+.server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}

@media (max-width: 767px) {
    .widgets-control .servers {
        flex-direction: column;
    }
}

/* End Backup Manager */
/* End Settings Page*/

/* Start Profile Page  */
.profile-page .avatar-box {
    width: 300px;
}

@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .profile-page .avatar-box {
        border-right: 1px solid #eee;
    }
}

.profile-page .overview .avatar-box>img {
    width: 120px;
    height: 120px;
}



.profile-page .overview .avatar-box .level {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}

.profile-page .overview .avatar-box .level span {
    background-color: var(--blue-color);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 6px;
}

.profile-page .info-box {
    width: 100%;
}

@media (max-width: 767px) {
    .profile-page .info-box .box {
        justify-content: center;
    }
}

.profile-page .info-box .box {
    flex-wrap: wrap;
    transition: var(--main-transition);
}

.profile-page .info-box .box:hover {
    background-color: #f9f9f9;
}

.profile-page .info-box .box>div {
    min-width: 250px;
    padding: 10px 0 0;
}

.profile-page .info-box h4 {
    font-weight: normal;
}


.profile-page .info-box .toggle-switch {
    height: 20px;
}

@media (max-width: 767px) {
    .profile-page .info-box .toggle-switch {
        margin: auto;
    }
}

.profile-page .info-box .toggle-switch::before {
    width: 14px;
    height: 14px;
    font-size: 8px;
    top: 3px;
}

.profile-page .info-box .toggle-checkbox:checked+.toggle-switch::before {
    left: 62px;
}

/* Start Skills  */
@media (max-width: 767px) {
    .profile-row2 {
        flex-direction: column;
    }
}

@media (min-width: 767px) {
    .profile-page .skills {
        width: 50%;
    }
}

.profile-page .skills {
    max-width: 600px;
}

.profile-page .skills .skill-row {
    gap: 5px;
}

@media (max-width: 767px) {
    .profile-page .skills .skill-row {
        justify-content: center;
    }
}

.profile-page .skills .skill-row span {
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
}

/* End Skills  */
/* Start Activities */
.activities {
    width: 100%;
}

.activities .act-zone .act-row .data {
    display: flex;
}

@media (max-width: 767px) {

    .activities .act-zone .act-row,
    .activities .act-zone .act-row .data {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

.activities .act-zone .act-row .data img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

@media (max-width: 767px) {
    .activities .act-zone .act-row .data img {
        margin-right: 0;
        margin: 15px auto;
    }
}

.activities .act-zone .act-row span {
    display: block;
    font-size: 16px;
}

/* End Activities */

/* End Profile Page *********************/
/* Start Projects Page */
.projects-area {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
}

@media (max-width: 767px) {
    .projects-area {
        grid-template-columns: minmax(250px, 1fr);
        gap: 20px;
    }
}

.projects-area .box .info-row {
    position: relative;
}

.projects-area .box .info-row h4 {
    font-weight: normal;
    margin-top: 0;
}

.projects-area .box .info-row>span {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 13px;
}

.projects-area .box .image {
    min-height: 80px;
}

.projects-area .image img {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: var(--main-transition);
    margin-bottom: 20px;

}

.projects-area .box .info-row .info span {
    display: block;
}

.projects-area .box .image a:nth-child(2) img {
    left: 25px;
}

.projects-area .box .image a:nth-child(3) img {
    left: 50px;
}

.projects-area .box .image a:nth-child(4) img {
    left: 75px;
}

.projects-area .box .image a:nth-child(5) img {
    left: 100px;
}

.projects-area .box .image a:hover img {
    z-index: 1;
    transform: scale(1.1);
    transition: var(--main-transition);
}

.projects-area .box .skills-row {
    display: flex;
    gap: 5px;
    justify-content: end;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

@media (max-width: 767px) {
    .projects-area .box .skills-row {
        justify-content: start;
    }
}

.projects-area .box .skills-row span {
    background-color: #eee;
    border-radius: 6px;
    font-size: 13px;
    padding: 3px 6px;
}


.projects-area .bar {
    position: relative;
    width: 230px;
    height: 8px;
    border-radius: 6px;
    background-color: #eee;
}

.projects-area .bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    border-radius: 6px;
}

.projects-area .box .money-row .bar::before {
    width: 90%;
    background-color: #22c55e;
}

.projects-area .box .money-row-1 .bar::before {
    width: 75%;
    background-color: blue;
}

.projects-area .box .money-row-2 .bar::before {
    width: 60%;
    background-color: orange;
}

.projects-area .box .money-row-3 .bar::before {
    width: 50%;
    background-color: orangered;
}

.projects-area .box .money-row-4 .bar::before {
    width: 70%;
    background-color: #22c55e;
}

.projects-area .box .money-row-5 .bar::before {
    width: 40%;
    background-color: red;
}

.projects-area .box .money-row-6 .bar::before {
    width: 70%;
    background-color: blue;
}

.projects-area .box .money-row-7 .bar::before {
    width: 60%;
    background-color: orange;
}

.projects-area .box .money-row-8 .bar::before {
    width: 80%;
    background-color: #22c55e;
}

/* End Projects Page */

/* Start courses Page */
.courses-area {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.courses-area .box .intro-area {
    position: relative;
    width: 100%;
    height: 235px;
    border-radius: 8px 8px 0 0;
    background-image: url(../imgs/course-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.courses-area .box:nth-child(2) .intro-area {
    background-image: url(../imgs/course-02.jpg);
}

.courses-area .box:nth-child(3) .intro-area {
    background-image: url(../imgs/course-03.jpg);
}

.courses-area .box:nth-child(4) .intro-area {
    background-image: url(../imgs/course-04.jpg);
}

.courses-area .box:nth-child(5) .intro-area {
    background-image: url(../imgs/course-05.jpg);
}

.courses-area .box:nth-child(6) .intro-area {
    background-image: url(../imgs/course-04.jpg);
}

.courses-area .box:nth-child(7) .intro-area {
    background-image: url(../imgs/course-03.jpg);
}

.courses-area .box:nth-child(8) .intro-area {
    background-image: url(../imgs/course-04.jpg);
}

.courses-area .box:nth-child(9) .intro-area {
    background-image: url(../imgs/course-01.jpg);
}

.courses-area .box:nth-child(10) .intro-area {
    background-image: url(../imgs/course-05.jpg);
}

.courses-area .box .intro-area img {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    border: 2px solid white;
}

.courses-area .box .data h3 {
    font-size: 16px;
}

.courses-area .box .data p {
    line-height: 1.6;
}

.courses-area .box .money-bar {
    position: relative;
    color: grey;
}

.courses-area .box .money-bar::before {
    content: 'Courrse Info';
    position: absolute;
    background-color: var(--blue-color);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    top: -15px;
    width: 90px;
    text-align: center;
    left: calc(50% - 45px);
}

.courses-area .box .money-bar:hover {
    color: var(--blue-color);
}

/* End courses Page */

/* Start Freinds Page */
.freinds-area {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.freinds-area .box {
    padding: 10px 20px 10px;
}

.freinds-area .box .contact-icons {
    position: absolute;
    top: 10px;
    left: 10px;
}

.freinds-area .box .contact-icons i {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transition: var(--main-transition);
}

.freinds-area .box .contact-icons i:hover {
    background-color: var(--blue-color);
    color: white;
}

.freinds-area .box .image-row {
    text-align: center;
}

.freinds-area .box .image-row img {
    width: 100px;
    border-radius: 50%;
    margin: 0 0 10px;
}

.freinds-area .box .numbers-row div {
    margin-bottom: 10px;
}

.freinds-area .box .numbers-row i {
    margin-right: 5px;
}

.freinds-area .box .numbers-row .vip-icon {
    font-size: 40px;
    font-weight: bold;
    color: #f59e0b25;
}

.freinds-area .profile-btn,
.freinds-area .remove-btn {
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
}

.freinds-area .profile-btn {
    background-color: var(--blue-color);
}

.freinds-area .remove-btn {
    background-color: var(--red-color);
}

/* End Freinds Page */

/* Start Files Page */
.files-content {
    flex-direction: row-reverse;
    align-items: flex-start;
}

.files-content .upload-area {
    min-width: 260px;
}

.files-content .upload-area .file-size {
    padding: 7px;
}

.files-content .upload-area .file-size .size-icon .icon {
    width: 38px;
    height: 38px;
}

.files-content .upload-area .file-size .size-icon .blue {
    background-color: rgba(0, 0, 255, 0.15);
}

.files-content .upload-area .file-size .size-icon .green {
    background-color: rgba(0, 128, 0, 0.15);
}

.files-content .upload-area .file-size .size-icon .red {
    background-color: rgba(255, 0, 0, 0.15);
}

.files-content .upload-area .file-size .size-icon .orange {
    background-color: rgba(255, 166, 0, 0.15);
}

.files-content .upload-area .file-size .size-icon i {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex !important;
}

.files-content .box-area {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex: 1;
}

.files-content .box-area .Files-box {
    max-width: 100%;
    padding: 10px 10px;
}

.files-content .box-area .Files-box i {
    top: 5px;
    left: 5px;
}

.files-content .box-area .Files-box .image-row {
    text-align: center;
}

.files-content .box-area .Files-box .image-row img {
    width: 70px;
    height: 80px;
}

/* End Files Page */

/* Start free card */
.plans-content {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

@media (max-width: 767px) {
    .plans-content {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }
}

.plans-content .free-card,
.plans-content .basic-card,
.plans-content .premium-card {
    position: relative;
    background-color: #0075ff15;
    padding: 20px;
    border-radius: 10px;

}

.plans-content .dots {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
}

.plans-content .dots div {
    width: 7px;
    height: 7px;
    background-color: #0075ff55;
    border-radius: 50%;
    margin: 2px;
}

.plans-content .data-box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 1px 2px #00000020;
    position: relative;
    overflow: hidden;
}


@media (max-width: 767px) {
    .plans-content .free-card .data-box .box-info {
        margin-top: 15px;
    }
}

.plans-content .free-card .plan-title {
    background-color: var(--blue-color);
}

.plans-content .basic-card .plan-title {
    background-color: var(--green-color);
}

.plans-content .premium-card .plan-title {
    background-color: var(--orange-color);
}

.plans-content .plan-title {
    position: relative;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 20px;
    text-shadow: 0px 1px 2px #00000040;
    box-shadow: 0px 1px 2px #00000040;
    color: white;
    overflow: hidden;
}

.plans-content .plan-title h3 {
    font-weight: 800;
    font-size: 40px;
    margin: 0;
}

.plans-content .plan-title .price {
    position: relative;
}

.plans-content .plan-title .price span {
    font-weight: bold;
    font-size: 40px;
}

.plans-content .plan-title .price i {
    top: 0;
    left: 0;
    margin-right: 5px;
    font-family: sans;
    font-size: 25px;

}

.plans-content .data-box .info-row {
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.plans-content .data-box .box-info {
    border-radius: 10px;
    margin-top: 60px;
}

.plans-content .free-card .box-info {
    border: 1px solid #0075ff26;
}

.plans-content .basic-card .box-info {
    border: 1px solid #22c55e26;
}

.plans-content .premium-card .box-info {
    border: 1px solid #f59e0b26;
}

.plans-content .data-box .info-row .yes {
    color: green;
}

.plans-content .data-box .info-row .no {
    color: red;
}

.plans-content .data-box .info-row .help {
    color: grey;
}

/* Buy Botton color  */
@media (max-width :767px) {
    .plans-content .buy-btn {
        display: flex;
        justify-content: center;
    }
}

.plans-content .buy-btn a {
    padding: 8px 12px;
    border-radius: 6px;
    margin: 10px;
    color: white;
    transition: var(--main-transition);
}

.plans-content .free-card .buy-btn a {
    background-color: var(--blue-color);
    border-bottom: 4px solid var(--blue-alt-color);

}

.plans-content .basic-card .buy-btn a {
    background-color: var(--green-color);
    border-bottom: 4px solid rgba(0, 128, 0, 0.911);

}

.plans-content .premium-card .buy-btn a {
    background-color: var(--orange-color);
    border-bottom: 4px solid rgba(255, 166, 0, 0.945);

}

/* Start Hover Animation */
.plans-content .data-box .box-info .plan-title::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 150%;
    background-color: #e9eaec7e;
    rotate: 45deg;
    left: -100%;
    top: -40px;
    transition: 0.5s;
    opacity: 0;
}

.plans-content .data-box .box-info:hover .plan-title::before {
    opacity: 1;
    left: 150%;
}

.plans-content .data-box .box-info .plan-title::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 150%;
    background-color: #e9eaec7e;
    rotate: 45deg;
    left: -50%;
    top: -40px;
    transition: 0.5s;
    opacity: 0;
}

.plans-content .data-box .box-info:hover .plan-title::before {
    opacity: 1;
    left: 150%;
}

/* End Hover Animation */
/* Start Buy Buttom Hover  */
.plans-content .free-card .buy-btn a:hover {
    background-color: #0075ffd6;
}

.plans-content .basic-card .buy-btn a:hover {
    background-color: #22c55ec9;
}

.plans-content .premium-card .buy-btn a:hover {
    background-color: #f59e0bd4;
}

/* Start Buy Buttom Hover  */

/* End free card */